#change-content {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#confirm-title {
    font-size: 25px;
}

#change-frame {
    position: relative;
    width: calc(0.75*min(max(40%, 330px), 750px));

    padding: 16px;

    background:#e5e5e5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#change-pw-eye {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 8px;
}

#change-passwordI {
    position:relative;
    width: 100%;
}

#change-eye {
    position: absolute;
    top:0;
    right: 0;
    width: 32px;
    height: 100%;
}

#change-pw-requirements {
    position: relative;
    padding: 8px;

    font-family: Rubik;
    font-size: 13px;
    display: flex;
    flex-direction: column;
    text-align: justify;

    color: #283747
}

#change-passwordII {
    position:relative;
    width: 100%;
}

#change-password-status {
    position: relative;
    padding: 8px;

    display: flex;
    justify-items: center;
}

#change-pw-btn {
    position: relative;
    width: 100%;
    margin-top: 8px;
    padding: 8px
}

#change-pw-btn:hover {
    opacity: 0.5;
}

#change-pw-btn:disabled {
    opacity: 0.2;
    cursor: inherit;
    cursor: no-drop;
}

#change-sent-frame {
    position: relative;

    font-family: 'Rubik';
    font-size: 16px;

    padding: 32px;

    margin-left: 5%;
    margin-right: 5%;

    text-align: justify;
    border: 1px solid green;
    background-color: #DBF0E2;

    display: none;
}