.confirm-page {
    position: absolute;
    height: 100%;
    width: 100%;
}

#forgotten-content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100%;
}

#forgotten-frame {
    position: relative;
    width: min(max(40%, 290px), 500px);

    padding: 15px;

    background:#e5e5e5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#forgotten-notsent-frame {
    position: relative;
    width: min(max(40%, 290px), 750px);

    padding: 16px;
    margin: 16px;

    background-color: rgba( 255, 0, 20, 0.15);

    border: 1px solid rgba(255, 0, 20, 0.8);
    display:none
}

#forgotten-email {
    position: relative;
    border: 1px solid #283747;
    width: 100%;

    padding-top: 8px;
    padding-bottom: 8px;

    margin-top: 16px;
    margin-bottom: 16px;

    font-family: 'Rubik';
    color: #283747;

    background-color: white
}

#forgotten-btn {
    position: relative;
    width: 100%;
    padding: 8px;
}

#forgotten-sent-frame {
    position: relative;
    width: min(max(40%, 290px), 750px);
    
    padding: 8px;

    text-align: justify;
    border: 1px solid green;
    background-color: #DBF0E2;
    display: none
}